*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url("melancia.jpg") no-repeat;
    ;
    background-size: 100%;
    background-position: center;
  }

  .header{
   /*  background-color: rgb(170, 10, 10); */
    height: 100px;
    border-bottom: rgb(43, 155, 20)solid 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.container{
    height: 100%;
    width: 80%;
    margin: auto;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.header h1{
    color: rgb(43, 155, 20);
}

.navbar li{
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

.navbar li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar .active {
    font-weight: bolder;
}
  p{
    float: left;
    margin-top: 10%;
    font-family: 'Spartan', sans-serif;
    font-size: 35px;
    font-weight: 900;
    margin-left: 15%;
    color: rgb(253, 66, 66);
   
    }
  
  .kilos{
    float: left;
    font-family: 'Spartan', sans-serif;
    margin-left: 20%;
    margin-right: 1%;
    font-weight: bolder;
    
  }
  
  #div_f{
  margin-top: 5.5%;
  background-color: rgb(255, 255, 255, 0.534);
  width: 600px;
  height: 500px;
  border-radius: 10px;
  border:rgba(0, 0, 0, 0.596) solid;
  justify-content: center;
  align-items: center;
  
  
  }
  #botao{
  margin-left: 35%;
  font-size: medium;
  border-radius:15px;
  
  }
  .divmen{
  font-family: 'Spartan', sans-serif;
  margin-left: 10%;
  font-weight: bold;
  color: rgb(0, 93, 41);
  font-size: 20px;
  }
  #div_img{
    
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: green;
  }
  
  .melan{
  font-family: 'Spartan', sans-serif;
  text-align: center;
  font-size: 50px;
  margin-top: 5%;
  
  
  }
  .mel{
  color: rgb(255, 39, 39);
  }
  .ci{
  color: rgb(0, 93, 41);
  
  }